[
    (
        (
            (Any,Any,Any),
            (Any,Ground(concealed:false),Any),
            (Any,Any,Any),
        ),            
        "ground",
    ),

    (
        (
            (Wall(breaks:false, ore:0),Wall(breaks:false, ore:0),Wall(breaks:false, ore:0)),
            (Wall(breaks:false, ore:0),Wall(breaks:false, ore:0),Wall(breaks:false, ore:0)),
            (Wall(breaks:false, ore:0),Wall(breaks:false, ore:0),Wall(breaks:false, ore:0)),
        ),
        "concealed",
    ),

    (
        (
            (Wall(breaks:false, ore:0),Wall(breaks:false, ore:0),Ground(concealed:false)),
            (Wall(breaks:false, ore:0),Wall(breaks:false, ore:0),Wall(breaks:false, ore:0)),
            (Wall(breaks:false, ore:0),Wall(breaks:false, ore:0),Wall(breaks:false, ore:0)),
        ), 
        "single_edge",
    ),

    (
        (
            (Wall(breaks:false, ore:0),Wall(breaks:false, ore:0),Ground(concealed:false)),
            (Wall(breaks:false, ore:0),Wall(breaks:false, ore:0),Wall(breaks:false, ore:0)),
            (Ground(concealed:false),Wall(breaks:false, ore:0),Wall(breaks:false, ore:0)),
        ), 
        "4",
    ),

    (
        (
            (Ground(concealed:false),Wall(breaks:false, ore:0),Ground(concealed:false)),
            (Wall(breaks:false, ore:0),Wall(breaks:false, ore:0),Wall(breaks:false, ore:0)),
            (Ground(concealed:false),Wall(breaks:false, ore:0),Wall(breaks:false, ore:0)),
        ), 
        "5",
    ),

    (
        (
            (Ground(concealed:false),Wall(breaks:false, ore:0),Ground(concealed:false)),
            (Wall(breaks:false, ore:0),Wall(breaks:false, ore:0),Wall(breaks:false, ore:0)),
            (Ground(concealed:false),Wall(breaks:false, ore:0),Ground(concealed:false)),
        ), 
        "6",
    ),

    (
        (
            (Any,Ground(concealed:false),Any),
            (Wall(breaks:false, ore:0),Wall(breaks:false, ore:0),Wall(breaks:false, ore:0)),
            (Wall(breaks:false, ore:0),Wall(breaks:false, ore:0),Wall(breaks:false, ore:0)),
        ), 
        "wall",
    ),

    (
        (
            (Any,Ground(concealed:false),Any),
            (Wall(breaks:false, ore:0),Wall(breaks:false, ore:0),Wall(breaks:false, ore:0)),
            (Wall(breaks:false, ore:0),Wall(breaks:false, ore:0),Ground(concealed:false)),
        ), 
        "8",
    ),

    (
        (
            (Any,Ground(concealed:false),Any),
            (Wall(breaks:false, ore:0),Wall(breaks:false, ore:0),Wall(breaks:false, ore:0)),
            (Ground(concealed:false),Wall(breaks:false, ore:0),Wall(breaks:false, ore:0)),
        ), 
        "9",
    ),

    (
        (
            (Any,Ground(concealed:false),Any),
            (Wall(breaks:false, ore:0),Wall(breaks:false, ore:0),Wall(breaks:false, ore:0)),
            (Ground(concealed:false),Wall(breaks:false, ore:0),Ground(concealed:false)),
        ), 
        "10",
    ),

    (
        (
            (Any,Ground(concealed:false),Any),
            (Wall(breaks:false, ore:0),Wall(breaks:false, ore:0),Wall(breaks:false, ore:0)),
            (Any,Ground(concealed:false),Any),
        ), 
        "11",
    ),

    (
        (
            (Any,Ground(concealed:false),Any),
            (Wall(breaks:false, ore:0),Wall(breaks:false, ore:0),Ground(concealed:false)),
            (Wall(breaks:false, ore:0),Wall(breaks:false, ore:0),Any),
        ), 
    "single_edge_270",
    ),

    (
        (
            (Any,Ground(concealed:false),Any),
            (Wall(breaks:false, ore:0),Wall(breaks:false, ore:0),Ground(concealed:false)),
            (Ground(concealed:false),Wall(breaks:false, ore:0),Any),
        ), 
        "13",
    ),

    (
        (
            (Any,Ground(concealed:false),Any),
            (Ground(concealed:false),Wall(breaks:false, ore:0),Ground(concealed:false)),
            (Any,Wall(breaks:false, ore:0),Any),
        ), 
        "14",
    ),

    (
        (
            (Any,Ground(concealed:false),Any),
            (Ground(concealed:false),Wall(breaks:false, ore:0),Ground(concealed:false)),
            (Any,Ground(concealed:false),Any),
        ), 
        "15",
    ),
]