{
    [
        [Any,Any,Any],
        [Any,Ground,Any],
        [Any,Any,Any],
    ]: "ground.obj",

    [
        [Wall,Wall,Wall],
        [Wall,Wall,Wall],
        [Wall,Wall,Wall],
    ]: "2.obj",

    [
        [Wall,Wall,Ground],
        [Wall,Wall,Wall],
        [Wall,Wall,Wall],
    ]: "3.obj",

    [
        [Wall,Wall,Ground],
        [Wall,Wall,Wall],
        [Ground,Wall,Wall],
    ]: "4.obj",

    [
        [Ground,Wall,Ground],
        [Wall,Wall,Wall],
        [Ground,Wall,Wall],
    ]: "5.obj",

    [
        [Ground,Wall,Ground],
        [Wall,Wall,Wall],
        [Ground,Wall,Ground],
    ]: "6.obj",

    [
        [Any,Ground,Any],
        [Wall,Wall,Wall],
        [Wall,Wall,Wall],
    ]: "7.obj",

    [
        [Any,Ground,Any],
        [Wall,Wall,Wall],
        [Wall,Wall,Ground],
    ]: "8.obj",

    [
        [Any,Ground,Any],
        [Wall,Wall,Wall],
        [Ground,Wall,Wall],
    ]: "9.obj",

    [
        [Any,Ground,Any],
        [Wall,Wall,Wall],
        [Ground,Wall,Ground],
    ]: "10.obj",

    [
        [Any,Ground,Any],
        [Wall,Wall,Wall],
        [Any,Ground,Any],
    ]: "11.obj",

    [
        [Any,Ground,Any],
        [Wall,Wall,Ground],
        [Wall,Wall,Any],
    ]: "12.obj",

    [
        [Any,Ground,Any],
        [Wall,Wall,Ground],
        [Ground,Wall,Any],
    ]: "13.obj",

    [
        [Any,Ground,Any],
        [Ground,Wall,Ground],
        [Any,Wall,Any],
    ]: "14.obj",

    [
        [Any,Ground,Any],
        [Ground,Wall,Ground],
        [Any,Ground,Any],
    ]: "15.obj",

    [
        [Any,Any,Any],
        [Any,Any,Any],
        [Any,Any,Any],
    ]: "debug.obj",
}