Grid(
grid: [
    [
        Ground(concealed:false),
        Ground(concealed:false),
        Ground(concealed:false),
    ],[
        Ground(concealed:false),
        Wall(breaks:false, ore:0),
        Wall(breaks:false, ore:0),
    ],[
        Ground(concealed:false),
        Wall(breaks:false, ore:0),
        Wall(breaks:false, ore:0),
    ]
])