Grid(
grid: [
    [
        Wall(is_breakable:true, contains_ore:0),
        Wall(is_breakable:true, contains_ore:0),
        Wall(is_breakable:true, contains_ore:0),
    ],[
        Ground,
        Ground, 
        Ground,
    ],[
        Wall(is_breakable:true, contains_ore:0),
        Wall(is_breakable:true, contains_ore:0),
        Wall(is_breakable:true, contains_ore:0),
    ]
])