Grid(
grid: [
    [
       Ground(concealed:true),
       Ground(concealed:true),
       Ground(concealed:true),
       Ground(concealed:true),
       Ground(concealed:true),
       Ground(concealed:true),
    ],[
       Ground(concealed:true),
       Wall(breaks:false, ore:0),
       Ground(concealed:true),
       Ground(concealed:true),
       Ground(concealed:true),
       Ground(concealed:true),

    ],[
       Ground(concealed:true),
       Ground(concealed:true),
       Wall(breaks:false, ore:0),
       Ground(concealed:true),
       Ground(concealed:true),
       Ground(concealed:true),
    ],[
       Ground(concealed:true),
       Ground(concealed:true),
       Ground(concealed:true),
       Ground(concealed:true),
       Ground(concealed:true),
       Ground(concealed:true),
    ],[
       Ground(concealed:true),
       Ground(concealed:true),
       Ground(concealed:true),
       Ground(concealed:true),
       Ground(concealed:true),
       Ground(concealed:true),

    ],[
       Ground(concealed:true),
       Ground(concealed:true),
       Ground(concealed:true),
       Ground(concealed:true),
       Ground(concealed:true),
       Ground(concealed:true),
    ],[
       Ground(concealed:true),
       Ground(concealed:true),
       Ground(concealed:true),
       Ground(concealed:true),
       Ground(concealed:true),
       Ground(concealed:true),
    ],[
       Ground(concealed:true),
       Ground(concealed:true),
       Ground(concealed:true),
       Ground(concealed:true),
       Wall(breaks:false, ore:0),
       Wall(breaks:false, ore:0),
    ],[
       Ground(concealed:true),
       Ground(concealed:true),
       Ground(concealed:true),
       Ground(concealed:true),
       Wall(breaks:false, ore:0),
       Wall(breaks:false, ore:0),
    ],
])